---
import { Head, Footer, Navigation } from "@/components/organisms";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
import GalleryPreviewCard from "@/components/organisms/GalleryPreviewCard.astro";

const gallery = await getCollection("gallery");
---

<!doctype html>
<html lang="en">
	<head>
		<Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main > section {
				width: 100%;
			}

			main > section > ul {
				list-style: none;
				padding: 0;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				gap: 2rem;
			}

			main > section > ul > li {
				display: flex;
				align-items: center;
			}
		</style>
	</head>
	<body data-theme="dark">
		<Navigation />
		<main>
			<h1>Gallery</h1>
			<section>
				{
					gallery.length !== 0 && (
						<ul>
							{gallery.map(({ data }) => (
								<li>
									<GalleryPreviewCard {...data} />
								</li>
							))}
						</ul>
					)
				}
				{gallery.length === 0 && <h2>There are no images yet! 😢</h2>}
			</section>
		</main>
		<Footer />
		<SpeedInsights />
		<Analytics />
	</body>
</html>
