---
import { Link } from "@/components/atoms";
import { ThemeToggle } from "@/components/molecules";
import { BLUESKY_LINK } from "@/consts";
---

<nav>
    <ol>
        <li>
            <Link href="/">
                <span class="sr-only">Go to the home page</span>
                🐄
            </Link>
        </li>
        <li>
            <Link href="/blog">Blog</Link>
        </li>
        <li>
            <Link href="/gallery">Gallery</Link>
        </li>
        <li>
            <Link href={BLUESKY_LINK} target="_blank">
                <iconify-icon icon={"fa6-brands:bluesky"} height={"1rem"}
                ></iconify-icon> Bluesky
            </Link>
        </li>
        <li>
            <ThemeToggle client:load />
        </li>
    </ol>
</nav>

<style>
    nav {
        display: flex;
        flex-direction: column;
    }

    nav > ol {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        padding: 0;
    }

    nav > ol > li > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 1ch;
    }

    nav > ol > li:first-child {
        flex-grow: 1;
        font-size: large;
    }
</style>
